  <html>
  <head>

    <link rel="stylesheet" href="https://img1.wsimg.com/ux/1.3.46-brand/css/uxcore.min.css" />
    <link rel="stylesheet" href="https://img1.wsimg.com/ux/eldorado/1.5.103/css/appheader-brand2.min.css" />
    <link rel="stylesheet" href="https://img1.wsimg.com/account/v2017.05.09/assets/vendor-8f9351b5d207e2ef20f2478fd2ca2ff0.css" />
    <link rel="stylesheet" href="https://img1.wsimg.com/account/v2017.05.09/assets/riviera-58a2ec67e472a2ec88d35cc042f9275f.css" />
    <link rel="stylesheet" href="https://img1.wsimg.com/account/v2017.05.09/assets/default-theme-aff61d1e802c317802e3f4c364876ef4.css" />
    <style>
      @media all {
       .ember-view {
         width:100% !important;

       }
       .ember-view > .ember-view {
         height:auto!important;
         position:relative !important;
       }
     }
     #order-modal {
       overflow-y:initial;
       overflow-x:initial;
     }
   </style>
 </head>

 <body>
  {{{innerHTML}}}
</body>
</html>